<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>统计信息与图像处理研究中心</title>
</head>
<body>
    <div id="siipheader">
{#            <div id="siiptopmask"></div>#}
            <div id="siiptop1">
                <div class="siiplogo">
    {#                <img src="/static/htmlimg/loading4.gif" id="logo">#}
                    <h1>统计信息与图像处理研究中心</h1>
                </div>
                <div class="siiptopnav">
                    <ul class="siiptopnavlist siiptopnavlist1">
                        <li>
                            <a href="#home">Home</a>
                        </li>
                        <li>
                            <a href="#team">Team</a>
                        </li>
                        <li>
                            <a href="#work">Work</a>
                        </li>
                        <li>
                            <a href="#contact">Contact</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div id="siiptop2">
                <div class="siiplogo">
    {#                <img src="/static/htmlimg/loading4.gif" id="logo">#}
                    <h1 style="color:black;">统计信息与图像处理研究中心</h1>
                </div>
                <div class="siiptopnav">
                    <ul class="siiptopnavlist siiptopnavlist2" >
                        <li>
                            <a href="#home" style="color: black">Home</a>
                        </li>
                        <li>
                            <a href="#team" style="color: black">Team</a>
                        </li>
                        <li>
                            <a href="#work" style="color: black">Work</a>
                        </li>
                        <li>
                            <a href="#contact" style="color: black">Contact</a>
                        </li>
                    </ul>
                </div>
            </div>

        </div>
</body>
</html>